.skills-container{
    min-height: 100vh;
    background-color: rgba(208, 211, 211, 0.356);
    display: flex;
    flex-direction: column;
}

.skills-box-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-box-content{
    margin-top: 70px;
    background-color: rgba(155, 155, 155, 0.24);
    min-height: 320px;
    margin-inline: 30px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.skills-box-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.skills-box-descript{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding-inline: 4px;
    text-align: center;
}

.skill-box-button{
    padding-inline: 12px;
    padding-block: 6px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    border: 1px solid var(--second-color);
    background-color: var(--second-color);
    color: white;
}

.skill-box-button:hover{
    background-color: white;
    color: var(--second-color);
}

.skills-map{
    margin: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


.skill-image{
    width: 140px;
    height: 140px;
}

.skills-new-skill-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.skills-new-skill-container button{
    padding-inline: 40px;
    padding-block: 10px;
    font-size: 22px;
    border: 1px solid var(--second-color);
    background-color: var(--second-color);
    color: white;
    cursor: pointer;
    transition-delay: 100ms;
}

.skills-new-skill-container button:hover{
    background-color: white;
    color: var(--second-color);
    border: 1px solid var(--second-color);
}
